/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;700&display=swap');
/* common style */
body{
    font-family: 'Work Sans';
    background-color: white;
}
/* header part */
.header{
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}
.nav-title{
    width: 352px;
    height: 53px;

    font-weight: 700px;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    text-align: center;
    padding-top: 63px;
    padding-right: 240px;
}
nav li{
    list-style: none;
    margin-left: 20px;
}
/* Banner part */
.banner{
    display: flex;
    flex-direction: column;
    margin: 50px 529px 892px 529px;
    /* background-image:url(../images/banner.png); */
}
.banner-title{
    width: 862px;


    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}
.banner-discription{
    width: 868px;
    

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.btn-primary{
    /* position: absolute; */
    width: 170px;
    height: 50px;
    
    background: #FF900E;
    border-radius: 5px;

    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-left:40%;
    margin-top: 32px;
    border: 0;
    
}
.banner-img img{
    width: 100%;
    height: ;
    padding: 50px 0px 45px 0px;
}
/* main part */

/* section-1 */
.section-1{
    display: flex;
    
}
.section-1-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 5px;
    padding-left: 301px;
    margin-top: 87px;
}
.section-1-image img{
    width: 342px;
    height: 342px;
}
.section-1-container{
    padding-left: 73px;
    margin-top: 287px;
    /* display: flex;
    flex-direction: column; */
}
.section-1-title{
    width: 468px;

    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}
.text-color-1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.text-color-2{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;;
}
.section-1-discription{
    width: 537px;

    font-weight: 400;
    font-size: 16px;

    color: #727272;
    margin-bottom: 32px;
}
#btn-1{
    margin-left: 0;
}
