/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;700&display=swap');
/* common style */
body{
    font-family: 'Work Sans';
    background-color: white;
}
/* header part */
.header{
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}
.nav-title{
    width: 352px;
    height: 53px;

    font-weight: 700px;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    text-align: center;
    padding-top: 63px;
    padding-right: 240px;
}
nav li{
    list-style: none;
    margin-left: 20px;
}
/* Banner part */
.banner{
    display: flex;
    flex-direction: column;
    margin: 50px 529px 892px 529px;
    /* background-image:url(../images/banner.png); */
}
.banner-title{
    width: 862px;


    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}
.banner-discription{
    width: 868px;
    

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.btn-primary{
    /* position: absolute; */
    width: 170px;
    height: 50px;
    
    background: #FF900E;
    border-radius: 5px;

    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-left:40%;
    margin-top: 32px;
    border: 0;
    
}
.banner-img img{
    width: 100%;
    height: ;
    padding: 50px 0px 45px 0px;
}
/* main part */

/* section-1 */
.section-1{
    display: flex;
    
}
.section-1-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 5px;
    padding-left: 301px;
    margin-top: 87px;
}
.section-1-image img{
    width: 342px;
    height: 342px;
}
.section-1-container{
    padding-left: 73px;
    margin-top: 287px;
    /* display: flex;
    flex-direction: column; */
}
.section-1-title{
    width: 468px;

    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}
.text-color-1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.text-color-2{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;;
}
.section-1-discription{
    width: 537px;

    font-weight: 400;
    font-size: 16px;

    color: #727272;
    margin-bottom: 32px;
}
#btn-1{
    margin-left: 0;
}
/* section-2 */
.section-2{
    width: 1440px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 200px);
    margin-left: 10%;
    margin-top: 130px;
}
.section-2-container-1{
    display: flex;
    margin-top: 0px;
}
.vl{
    border-left: 6px solid #FF900E;
    width: 0px;
    height: 140px;
    margin-left: 10%;
    margin-top: 60px;
}
.section-2-containers-title{
    width: 668px;
    height: 140px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 0px;
    margin-left: 21px;
}
.section-2-containers-discription{
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 10%;
    color: #727272;
}
.section-2-containers-discription{
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 10%;
    color: #727272;
}
.section-2-img{
    width: 708px;
    margin-left: 136px;
    border-radius: 8px;
}
.section-2-conatainer-main{
    width: 586px;
    height: 171px;
    margin-top: 100px;
    margin-left: 10%;
}
.section-2-container{
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 30px;
}
.section-2-container-title{
    width: 281px;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.section-2-container-description{
    width: 514px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.btn-2{
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;

    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: 80% 0 0% 0px;
}
#btn-2{
    font-weight: 700;
    font-size: 65px;
}
/* section-3 part */
.section-3{
    width: 1440px;
    margin-top: 534px;
    margin-left: 14%;
}
.section-3-containers-1-title{
    width: 258px;
    font-weight: 700;
    font-size: 45px;
    margin-top: 32px;
    color: #131313;
}
.section-3-containers-1-description{
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.section-3-containers-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.section-3-container{
    box-sizing: border-box;
    width: 241.83px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin: 46px 36px 60px 35px;
}
.section-3-container img{
    margin: 46px 0px 0px 0px;
}
.section-3-container h2{
    margin-top: 10px;
    margin-bottom: 5px;
}
/* section 4 part */
.section-4{
    margin-left: 14%;
    width: 1440px;
}
.section-4-title{
    width: 258px;
    font-weight: 700;
    font-size: 45px;
    margin-top: 32px;
    color: #131313;
}
.section-4-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
    align-items: center;
    width: 1440px; 

}
.section-4-blog{
    display: flex;
}
.section-4-blog .section-4-thumbnail img{
    width: 177px;
    height: 117px;
}
.section-4-blog-info{
    margin-left: 16px;
}
.section-4-blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #FF900E;
}
/* section 5 part */
.section-5{
    margin-left: 5%;
    margin-top: 180px;
    
}
.sponsors-1{
    text-align: center;
}
.sponsor-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-right: 5%;
}
.sponsor-description{
    text-align: center;
    margin-left: 30%;
    width: 600px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.sponsors-2 img{
    padding-top: 50px;
    padding-left: 155px;
    mix-blend-mode: luminosity;
}
/* footer part */
footer{
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 15%;
    margin-top: 180px;
}
.footer-drescription{
    width: 720px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 39px 410px 39px 410px;
    margin-bottom: 254px;
    color: #424242;
}